<% provide(:h1, @inventory.user.vname + "'s Inventory") %>
<p id="notice"><%= notice %></p>
<div class="pageformat">
   <% if @inventoryslots.count >= 2 %>
      <div class="formlinks"><%= paginate @inventoryslots %></div>
      <br>
   <% end %>
   <% @inventoryslots.each do |inventoryslot| %>
      <p><%= inventoryslot.name %></p>
      <% if !inventoryslot.item1_id.nil? %>
         <% if getItem(inventoryslot.item1_id, "Itemartcheck").to_s != "" %>
            <br>
            <p><%= image_tag(getItem(inventoryslot.item1_id, "Itemart")) %></p>
         <% end %>
         <% if(getItem(inventoryslot.item1_id, "Retired")) %>
            <p><%= getItem(inventoryslot.item1_id, "Name") + " [Retired]" %></p>
         <% else %>
             <p><%= getItem(inventoryslot.item1_id, "Name") %></p>
         <% end %>
         <p>Durability: <%= inventoryslot.curdur1 %>/<%= inventoryslot.startdur1 %></p>
         <% if(getItem(inventoryslot.item1_id, "Itemtype") != "Food") %>
            <p>Attack: <%= getItem(inventoryslot.item1_id, "Atk") %></p>
            <p>Defense: <%= getItem(inventoryslot.item1_id, "Def") %></p>
            <p>Agility: <%= getItem(inventoryslot.item1_id, "Agility") %></p>
            <p>Strength: <%= getItem(inventoryslot.item1_id, "Strength") %></p>
         <% elsif(getItem(inventoryslot.item1_id, "Itemtype") == "Magic") %>
            <p>Matk: <%= getItem(inventoryslot.item1_id, "Matk") %></p>
            <p>Mdef: <%= getItem(inventoryslot.item1_id, "Mdef") %></p>
            <p>Magi: <%= getItem(inventoryslot.item1_id, "Magi") %></p>
            <p>Mstr: <%= getItem(inventoryslot.item1_id, "Mstr") %></p>
         <% else %>
            <p>HP: <%= getItem(inventoryslot.item1_id, "HP") %></p>
            <p>MP: <%= getItem(inventoryslot.item1_id, "MP") %>
            <p>Hunger: <%= getItem(inventoryslot.item1_id, "Hunger") %></p>
            <p>Thirst: <%= getItem(inventoryslot.item1_id, "Thirst") %></p>
            <p>Fun: <%= getItem(inventoryslot.item1_id, "Fun") %></p>
         <% end %>
         <p>Quantity: <%= inventoryslot.qty1 %></p>
         <p>Rarity: <%= inventoryslot.rarity1 %></p>
         <p>Cost: <%= getItem(inventoryslot.item1_id, "Cost") %></p>
         <p>Emerald cost: <%= getItem(inventoryslot.item1_id, "Emerald") %></p>
         <p class="formlinks">Artist: <%= getUserPrivilege(getItem(inventoryslot.item1_id, "Artist")) %><%= link_to getItem(inventoryslot.item1_id, "Artist").vname, user_path(getItem(inventoryslot.item1_id, "Artist")) %></p>
         <p>Equipable: <%= getItem(inventoryslot.item1_id, "Equip") %></p>
         <p>Type: <%= getItem(inventoryslot.item1_id, "Itemtype") %></p>
         <br>
      <% end %>
      <% if !inventoryslot.item2_id.nil? %>
         <p>Item 2: <%= inventoryslot.item2_id %></p>
         <p>Durability: <%= inventoryslot.curdur2 %>/<%= inventoryslot.startdur2 %></p>
         <p>Quantity: <%= inventoryslot.qty2 %></p>
         <p>Rarity: <%= inventoryslot.rarity2 %></p>
         <br>
      <% end %>
      <% if !inventoryslot.item3_id.nil? %>
         <p>Item 3: <%= inventoryslot.item3_id %></p>
         <p>Durability: <%= inventoryslot.curdur3 %>/<%= inventoryslot.startdur3 %></p>
         <p>Quantity: <%= inventoryslot.qty3 %></p>
         <p>Rarity: <%= inventoryslot.rarity3 %></p>
         <br>
      <% end %>
      <% if !inventoryslot.item4_id.nil? %>
         <p>Item 4: <%= inventoryslot.item4_id %></p>
         <p>Durability: <%= inventoryslot.curdur4 %>/<%= inventoryslot.startdur4 %></p>
         <p>Quantity: <%= inventoryslot.qty4 %></p>
         <p>Rarity: <%= inventoryslot.rarity4 %></p>
         <br>
      <% end %>
      <% if !inventoryslot.item5_id.nil? %>
         <p>Item 5: <%= inventoryslot.item5_id %></p>
         <p>Durability: <%= inventoryslot.curdur5 %>/<%= inventoryslot.startdur5 %></p>
         <p>Quantity: <%= inventoryslot.qty5 %></p>
         <p>Rarity: <%= inventoryslot.rarity5 %></p>
         <br>
      <% end %>
      <% if !inventoryslot.item6_id.nil? %>
         <p>Item 6: <%= inventoryslot.item6_id %></p>
         <p>Durability: <%= inventoryslot.curdur6 %>/<%= inventoryslot.startdur6 %></p>
         <p>Quantity: <%= inventoryslot.qty6 %></p>
         <p>Rarity: <%= inventoryslot.rarity6 %></p>
         <br>
      <% end %>
      <% if !inventoryslot.item7_id.nil? %>
         <p>Item 7: <%= inventoryslot.item7_id %></p>
         <p>Durability: <%= inventoryslot.curdur7 %>/<%= inventoryslot.startdur7 %></p>
         <p>Quantity: <%= inventoryslot.qty7 %></p>
         <p>Rarity: <%= inventoryslot.rarity7 %></p>
         <br>
      <% end %>
      <% if !inventoryslot.item8_id.nil? %>
         <p>Item 8: <%= inventoryslot.item8_id %></p>
         <p>Durability: <%= inventoryslot.curdur8 %>/<%= inventoryslot.startdur8 %></p>
         <p>Quantity: <%= inventoryslot.qty8 %></p>
         <p>Rarity: <%= inventoryslot.rarity8 %></p>
         <br>
      <% end %>
      <% if !inventoryslot.item9_id.nil? %>
         <p>Item 9: <%= inventoryslot.item9_id %></p>
         <p>Durability: <%= inventoryslot.curdur9 %>/<%= inventoryslot.startdur9 %></p>
         <p>Quantity: <%= inventoryslot.qty9 %></p>
         <p>Rarity: <%= inventoryslot.rarity9 %></p>
         <br>
      <% end %>
      <% if !inventoryslot.item10_id.nil? %>
         <p>Item 10: <%= inventoryslot.item10_id %></p>
         <p>Durability: <%= inventoryslot.curdur10 %>/<%= inventoryslot.startdur10 %></p>
         <p>Quantity: <%= inventoryslot.qty10 %></p>
         <p>Rarity: <%= inventoryslot.rarity10 %></p>
         <br>
      <% end %>
      <% if !inventoryslot.item11_id.nil? %>
         <p>Item 11: <%= inventoryslot.item11_id %></p>
         <p>Durability: <%= inventoryslot.curdur11 %>/<%= inventoryslot.startdur11 %></p>
         <p>Quantity: <%= inventoryslot.qty11 %></p>
         <p>Rarity: <%= inventoryslot.rarity11 %></p>
         <br>
      <% end %>
      <% if !inventoryslot.item12_id.nil? %>
         <p>Item 12: <%= inventoryslot.item12_id %></p>
         <p>Durability: <%= inventoryslot.curdur12 %>/<%= inventoryslot.startdur12 %></p>
         <p>Quantity: <%= inventoryslot.qty12 %></p>
         <p>Rarity: <%= inventoryslot.rarity12 %></p>
         <br>
      <% end %>
      <% if !inventoryslot.item13_id.nil? %>
         <p>Item 13: <%= inventoryslot.item13_id %></p>
         <p>Durability: <%= inventoryslot.curdur13 %>/<%= inventoryslot.startdur13 %></p>
         <p>Quantity: <%= inventoryslot.qty13 %></p>
         <p>Rarity: <%= inventoryslot.rarity13 %></p>
         <br>
      <% end %>
      <% if !inventoryslot.item14_id.nil? %>
         <p>Item 14: <%= inventoryslot.item14_id %></p>
         <p>Durability: <%= inventoryslot.curdur14 %>/<%= inventoryslot.startdur14 %></p>
         <p>Quantity: <%= inventoryslot.qty14 %></p>
         <p>Rarity: <%= inventoryslot.rarity14 %></p>
         <br>
      <% end %>
   <% end %>
   <p><%= button_to "New Itempouch", new_inventory_inventoryslot_path(@inventory), method: :get, class: "button submitbutton" %></p>
</div>
<br>
<p class="formlinks"><%= link_to "Back", user_path(@inventory.user) %></p>
