<!DOCTYPE html>
<html>
   <head>
      <title>Duelingpets</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= favicon_link_tag displayType("Favicon") %>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="description" content="<%= yield(:description) %>" />
   </head>
   <body id="pagestyle">
      <link rel="canonical" href="<%= yield(:canonical) %>" />
      <link rel="alternate" href="<%= yield(:alternate) %>" />
      <!--CSS Code section-->
      <style>
        *{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
        p pre{ font-family: 'Verdana', 'Arial', 'sans-serif'}
        #pagestyle{background-color: <%= getColorAttribute("Backgroundcolor") %>; font-family: 'Georgia', 'Arial', 'sans-serif'; max-width: 100%; margin:0;}
        #banner{width: 100%; height: 90px;}
        /* Handles the user alert features */
        .profile{padding: 0.7% 1%; text-align: right; color:<%= getColorAttribute("Profile") %>}
        .profile a{color:<%= getColorAttribute("Profile") %>}
        .profile a:visited{<%= getColorAttribute("Profilevisited") %>}
        .profile a:hover{color: <%= getColorAttribute("Profilehovercolor") %>; background: <%= getColorAttribute("Profilehoverbackgc") %>}
        
        #sessionindent{padding: 0% 3%;color:<%= getColorAttribute("Sessionc") %>; font-family: 'Courier New', 'monospace'}
        /* End of user alert features */

        /* Handles the indentation of the main navigation features */
        .navindent{padding: 0% 3%;background: <%= getColorAttribute("Navigation") %>;text-align: center;}
        .navindent a{color: <%= getColorAttribute("Navigationlink") %>}
        .navindent a:hover{color: <%= getColorAttribute("Navigationhoverforc") %>;background: <%= getColorAttribute("Navigationhoverbackgc") %>}
        #activity{font-weight: bold; font-size: 120%; padding: 1.5% 0%; color: <%= getColorAttribute("Onlinestatus") %>; font-family: 'Courier New', 'monospace'}

        .navigation{display: inline-block; font-weight: bold; font-size: 120%; padding: 1.5% 0.3%; font-family: 'Courier New', 'monospace'}
        /* End of main navigation features */

        @media screen and (max-width: 640px)
        {
          .profile a{font-size: 140%}
          .navindent{font-size: 120%; font-weight: bold; background: <%= getColorAttribute("Navigation") %>; text-align: center;}
          .navindent a{font-weight: bold; font-size: 120%; color: <%= getColorAttribute("Navigationlink") %>;}
          .navindent a:hover{color: <%= getColorAttribute("Navigationhoverforc") %>;background: <%= getColorAttribute("Navigationhoverbackgc") %>}
          #activity{padding: 3.5% 0%; color: <%= getColorAttribute("Onlinestatus") %>}
          .navigation{display: inline-block; padding: 3.5% 0.3%; font-family: 'Courier New', 'monospace';}
        }

        @media screen and (min-width: 641px and max-width: 1024px)
        {
          .profile a{font-size: 140%}
          .navindent{font-size: 120%; font-weight: bold; background: <%= getColorAttribute("Navigation") %>; text-align: center;}
          .navindent a{font-weight: bold; font-size: 120%; color: <%= getColorAttribute("Navigationlink") %>;}
          .navindent a:hover{color: <%= getColorAttribute("Navigationhoverforc") %>;background: <%= getColorAttribute("Navigationhoverbackgc") %>}
          #activity{padding: 3.5% 0%; color: <%= getColorAttribute("Onlinestatus") %>}
          .navigation{display: inline-block; padding: 3.5% 0.3%; font-family: 'Courier New', 'monospace';}
        }

        /* Handles the indentation of the alert features */
        #pageindent{padding: 0% 3%;}
        .alert-success{color: <%= getColorAttribute("Success") %>}
        .alert-error{color: <%= getColorAttribute("Error") %>}
        .alert-firstnameerror{color: <%= getColorAttribute("Error") %>}
        .alert-lastnameerror{color: <%= getColorAttribute("Error") %>}
        .alert-loginerror{color: <%= getColorAttribute("Error") %>}
        .alert-vnameerror{color: <%= getColorAttribute("Error") %>}
        /* End of alert features */

        /* Handles the page content features */
        #pageheader{font-weight: bold;text-align: center;font-size: 160%; color: <%= getColorAttribute("Header") %>; font-family: 'Chalkduster', 'Apple Chancery', 'Comic Sans MS', 'fantasy'}
        #subheader{font-weight: bold;text-align: center;font-size: 120%; color: <%= getColorAttribute("Header") %>; font-family: 'Chalkduster', 'Apple Chancery', 'Comic Sans MS', 'fantasy'}
        .button{color: <%= getColorAttribute("Defaultbuttoncolor") %>; background: <%= getColorAttribute("Defaultbuttonbackgc") %>}
        .editbutton{color: <%= getColorAttribute("Editbuttoncolor") %>; background: <%= getColorAttribute("Editbuttonbackgc") %>}
        .destroybutton{color: <%= getColorAttribute("Destroybuttoncolor") %>; background: <%= getColorAttribute("Destroybuttonbackgc") %>}
        .submitbutton{color: <%= getColorAttribute("Submitbuttoncolor") %>; background: <%= getColorAttribute("Submitbuttonbackgc") %>}
        .formlinks {text-align: center;}
        .formlinks a{color: <%= getColorAttribute("Navlink") %>}
        .formlinks a:hover{color: <%= getColorAttribute("Navlinkhovercolor") %>;background: <%= getColorAttribute("Navlinkhoverbackgc") %>}
        .container{display: inline-block;}
        .centerpagecontent{text-align: center;}
        /* End of the page content features */

        .hublinks a{color: <%= getColorAttribute("Profile") %>;}

        /* Handles the forum content features */
        #adbanner{width: 100%; height: 80px;}
        .forumcolor{background: <%= getColorAttribute("Navigation") %>;}
        .forumcolor a{color: <%= getColorAttribute("Navigationlink") %>}
        .forumcolor a:hover{color: <%= getColorAttribute("Navigationhoverforc") %>;background: <%= getColorAttribute("Navigationhoverbackgc") %>}
        /* End of the forum content features */

        /* Handles the page errors */
        #errorexplan {width: 450px;border: 2px solid <%= getColorAttribute("Explanationborder") %>;padding: 7px;
        padding-bottom: 0;margin-bottom: 20px;background-color: <%= getColorAttribute("Explanationbackgc") %>;}
        #errorheader{text-align: left;font-weight: bold;padding: 5px 5px 5px 15px;font-size: 12px;

        margin: -7px;margin-bottom: 0px;background-color: <%= getColorAttribute("Explanheaderbackgc") %>;color: <%= getColorAttribute("Explanheadercolor") %>;} ul li {font-size: 12px;list-style: square;}
        .field_with_errors{padding: 2px;background-color: <%= getColorAttribute("Errorfieldcolor") %>;display: inherit; text-align: center;}
        /* End of the page errors */

        /* Both of these are the same */
        .textindent{padding: 0% 4%}
        .pageformat{text-align: center; color: <%= getColorAttribute("Text") %>}
      </style>
      <!--End of CSS Code section-->

      <p><%= image_tag(displayType("Banner"), id: "banner") %></p>

      <!--Alert section-->
      <% if current_user %>
         <div class="profile">
            <p><%= userprofile("User") %></p>
            <p><%= getClock %></p>
            <p>Pouch: <%= current_user.pouch.amount %> points</p>
            <p>Emeralds: <%= current_user.pouch.emeraldamount %></p>
            <p>Notifications: Coming Soon!</p>
            <br>
            <p><%= button_to "Active Users", activeusers_path, method: :get, class: "button submitbutton" %></p>
         </div>
         <% if checkforAlerts > 0 %>
            <div class="profile">
               <p>Alerts:</p>
               <p><%= userAlertNotify.html_safe %></p>
            </div>
         <% end %>
      <% else %>
         <div class="profile">
            <p><%= userprofile("Guest") %></p>
            <p><%= getClock %></p>
         </div>
      <% end %>
      <!--End of Alert section-->

      <!--User Activity section-->
      <div class="navindent">
         <div id="activity">Online: <%= getUserStatus("Online") %> Inactive: <%= getUserStatus("Inactive") %> Offline: <%= getUserStatus("Offline") %> Gone: <%= getUserStatus("Gone") %></div>
      </div>
      <br>
      <!--End of User Activity section-->

      <!--Navigation section-->
      <div class="navindent">
         <% unless current_page?(root_path) %>
            <div class="navigation"><%= link_to "Home", root_path %></div>
         <% end %>
         <div class="navigation"><%= link_to "Hub World", hubworld_path %></div>
      </div>
      <br>
      <% if current_user && !current_user.pouch.expiretime.nil? %>
         <p id="sessionindent"><%= current_user.vname %>'s session expires in: <%= distance_of_time_in_words_to_now current_user.pouch.expiretime %></p>
         <br>
      <% end %>
      <!--End of Navigation section-->

      <!--Message section-->
      <% if flash %>
         <div id="pageindent">
            <% flash.each do |key, value| %>
               <div class="alert alert-<%= key %>"><%= value %></div>
               <br>
            <% end %>
         </div>
      <% end %>
      <% if current_user && !current_user.userinfo.daycolor.activated %>
         <div id="pageindent">
            <p><%= button_to 'Revert to Default Color', revertcolor_path, method: :post, class: "button submitbutton" %></p>
            <br>
         </div>
      <% end %>
      <!--End of Message section-->

      <h1 id="pageheader"><%= yield(:h1) %></h1>
      <br>
      <%= yield %>

      <!--Footer section-->
      <br>
      <div class="navindent">
         <% unless current_page?(root_path) %>
            <div class="navigation"><%= link_to "Home", root_path %></div>
         <% end %>
         <div class="navigation"><%= link_to "About Us", aboutus_path %></div>
         <div class="navigation"><%= link_to "Contact", contact_path %></div>
         <div class="navigation"><%= link_to "Economy", economy_path %></div>
         <div class="navigation"><%#= link_to "Faqs", faqs_path %></div>
         <div class="navigation"><%#= link_to "Sitemap", sitemap_path %></div>
         <% if current_user %>
            <div class="navigation"><%#= link_to "Suggestion", new_user_suggestion_path(current_user) %></div>
         <% end %>
      </div>
      <!--End of Footer section-->
   </body>
</html>
